<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-GB" }}">
<head>
<title>HighResMIP2 | {{ page.title | default: site.title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/assets/w3css/4/w3.css">
<link rel="stylesheet" href="/assets/w3css/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>

<!-- Side Navigation -->
<nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar">
  <button class="w3-bar-item w3-button" onclick="w3_close()">Close <i class="fa fa-remove"></i></button>
  <a href="/" class="w3-bar-item w3-button">HighResMIP2</a>
  <a href="/team/" class="w3-bar-item w3-button">Team</a>
  <a href="/about/" class="w3-bar-item w3-button">About</a>
  <a href="/contact/" class="w3-bar-item w3-button">Contact</a>
</nav>

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i> 
  <div class="w3-center">
  <h1 class="w3-xxxlarge w3-animate-bottom">{{ page.title | default: site.title }}</h1>
  </div>
</header>

{{ content }}

<!-- Footer -->
<footer class="w3-container w3-theme-dark w3-padding-16">
  <p><a href="/">HighResMIP2</a> | <a href="/team/">Team</a> | <a href="/about/">About</a> | <a href="/contact/">Contact</a></p>
</footer>


<!-- Script for Sidebar, Tabs, Accordions, Progress bars and slideshows -->
<script src="/assets/w3js/w3.js"></script>

</body>
</html>