<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-GB" }}">
<head>
	<title>{{ page.title | default: site.title }}</title>
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/assets/css/all.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/lightbox.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/flexslider.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/owl.theme.default.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/jquery.rateyo.css"/>
	<!-- <link rel="stylesheet" type="text/css" href="css/jquery.mmenu.all.css" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="css/meanmenu.min.css"> -->
	<link rel="stylesheet" type="text/css" href="/assets/css/inner-page-style.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
	<link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
</head>
<body>
	<div id="page" class="site">
		<header class="site-header">
			<div class="top-header">
				<div class="container">
					<!-- <div class="top-header-left">
						<div class="top-header-block">
							<a href="mailto:noreply@metoffice.gov.uk" itemprop="email"><i class="fas fa-envelope"></i> noreply@metoffice.gov.uk</a>
						</div>
						<div class="top-header-block">
							<a href="tel:+443301350000" itemprop="telephone"><i class="fas fa-phone"></i> +44 330 135 0000</a>
						</div>
					</div> -->
					<div class="top-header-right">
						<div class="social-block" style="margin: auto;">
							<ul class="social-list">
								<!-- <li><a href=""><i class="fab fa-viber"></i></a></li>
								<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
								<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
								<li><a href=""><i class="fab fa-facebook-messenger"></i></a></li>
								<li><a href=""><i class="fab fa-twitter"></i></a></li> -->
								<li><a href="/contact/"><i class="fas fa-envelope"></i></a></li>
								<li><a href="https://github.com/HighResMIP2"><i class="fab fa-github"></i></a></li>
								<li><a href="https://highresmip2.slack.com/ssb/redirect"><i class="fab fa-slack"></i></a></li>
							</ul>
						</div>
						<!-- <div class="login-block">
							<a href="">Login /</a>
							<a href="">Register</a>
						</div> -->
					</div>
				</div>
			</div>
			<!-- Top header Close -->
			<div class="main-header">
				<div class="container">
					<div class="logo-wrap" itemprop="logo">
						<a href="/">
							<img src="/assets/images/site-logo.png" alt="HighResMIP">
						</a>
					</div>
					<div class="nav-wrap">
						<nav class="nav-desktop">
							<ul class="menu-list">
								<li><a href="/">Home</a></li>
								<li class="menu-parent">Courses
									<ul class="sub-menu">
										<li><a href="#">Child</a></li>
										<li><a href="#">Child</a></li>
										<li class="menu-parent">Child
											<ul class="sub-menu">
												<li><a href="">Grand-child</a></li>
												<li><a href="">Grand-child</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="menu-parent">News
									<ul class="sub-menu">
										<li><a href="#">Child</a></li>
										<li><a href="#">Child</a></li>
									</ul>
								</li>
								<li><a href="">About</a></li>
								<li><a href="">Gallery</a></li>
								<li><a href="/contact/">Contact</a></li>
							</ul>
						</nav>
						<div id="bar">
							<i class="fas fa-bars"></i>
						</div>
						<div id="close">
							<i class="fas fa-times"></i>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- Header Close -->

		<section class="page-content" id="course-page">
			<div class="container">
				<main class="course-detail">
					<h2>{{ page.title | default: site.title }}</h2>
					<article>
						{{ content }}
					</article>
				</main>
			</div>
		</section>


		<footer class="page-footer">
			<div class="footer-first-section">
				<div class="container">
				</div>
			</div>
			<!-- End of box-Wrap -->
			<div class="footer-second-section">
				<div class="container">
					<hr class="footer-line">
					<ul class="social-list">
						<!-- <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
						<li><a href=""><i class="fab fa-twitter"></i></a></li>
						<li><a href=""><i class="fab fa-skype"></i></a></li>
						<li><a href=""><i class="fab fa-youtube"></i></a></li>
						<li><a href=""><i class="fab fa-instagram"></i></a></li> -->
						<li><a href="/contact/"><i class="fas fa-envelope"></i></a></li>
						<li><a href="https://github.com/HighResMIP2"><i class="fab fa-github"></i></a></li>
						<li><a href="https://highresmip2.slack.com/ssb/redirect"><i class="fab fa-slack"></i></a></li>
					</ul>
					<hr class="footer-line">
				</div>
			</div>
			<div class="footer-last-section">
				<div class="container">
					<p>&copy; Crown Copyright </p>
				</div>
			</div>
		</footer>


	</div>
	<script type="text/javascript" src="/assets/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/assets/js/lightbox.js"></script>
	<script type="text/javascript" src="/assets/js/all.js"></script>
	<script type="text/javascript" src="/assets/js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="/assets/js/owl.carousel.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.rateyo.js"></script>
	<!-- <script type="text/javascript" src="js/jquery.mmenu.all.js"></script> -->
	<!-- <script type="text/javascript" src="js/jquery.meanmenu.min.js"></script> -->
	<script type="text/javascript" src="/assets/js/custom.js"></script>
</body>
</html>